---
layout: base.njk
title: About
eleventyNavigation:
  key: About
  order: 3
---

<div class="prose mx-auto text-justify">
  {{contentfulPages.about.pageContent | renderContentfulRichText | safe}}
</div>