---
layout: base.njk
title: About
eleventyNavigation:
  key: About
  order: 3
---
<h1>{{title}}</h1>

<h2>
  Hey! I'm Jesse Goodenough.
</h2>
<p>
  I started this blog "Mile 70" to share my passions.
  I have many passions but the ones that stand out the most are ultra-running,
  surfing and climbing. For many years I was hesistant about even creating a blog
  like this as I prefer to stay under the radar. However I realized
  how grateful and inspired I am by others who provide great content and
  share adventurous stories, experiences or sound advice.
</p>
<p>
  I chose the name "Mile 70" because I love ultra-running and well my favorite
  distance is the 100 mile race. Mile 70 is typically a monumental point of the race
  that could either make you or break you. And because of that for me it has great
  significance. While it may not be exactly at mile 70 especially depending on the
  course it pretty reliably is and also in a 100 mile race is considered the
  "half way" point.
</p>