---
layout: base.njk
title: Mile 70 Blog
pagination:
  data: contentfulBlogPosts.items
  size: 5
  alias: posts
  generatePageOnEmptyData: false
eleventyNavigation:
  key: Blog
  order: 2
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<ol class="grid grid-cols-1 gap-y-8" >
  {%- for item in pagination.items %}
    <article class="grid" style="grid-template-columns: 25% 1fr;">
      <div class="text-gray-400 self-center">
        {{item.fields.datePosted | formatDate('dddd &bull; MMM DD, YYYY') | safe}}
      </div>
      <a href="{{item.fields.datePosted | formatDate}}/{{item.fields.title | slug}}" class="flex flex-col space-y-5 items-start justify-center hover:bg-green-100 p-2 rounded-lg">
        <h4 class="font-sans font-bold text-lg">
          {{item.fields.title}}</h4>

        <p class="font-sans text-sm">{{item.fields.summary}}</p>

        <p class="font-sans font-bold text-sm">read more...</p>
      </a>
    </article>
  {% endfor -%}
</ol>