---
layout: base.njk
title: mile 70
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="home-hero text-center mx-auto max-w-[75%] font-extrabold text-2xl">
  <span class="text-green-800">m70</span> ("{{title}}") is a site to inspire those
  who want to push beyond mediocrity both mentally and physically.
</h1>