---
layout: base.njk
pagination:
    data: contentfulBlogPosts.items
    size: 1
    alias: post
permalink: "blog/{{ post.fields.datePosted | formatDate }}/{{ post.fields.title | slug }}/"
eleventyComputed:
    title: "{{ post.fields.title }}"
    datePosted: "{{ post.fields.datePosted}}"
    author: "{{ post.fields.author}}"
---
<div class="mb-8">
  {% set navBlog = collections.all | eleventyNavigation | getNavItemByKey('Blog') %}
  <a href="{{navBlog.url}}" class="text-green-800 font-bold p-2 rounded-lg hover:bg-green-100">&lt; All posts</a>
</div>

<article class="prose-stone">
  <h1 class="text-3xl font-bold mb-2 font-sans">{{title}}</h1>

  <p class="text-sm font-semibold font-sans">{{datePosted | formatDate('dddd, MMM DD, YYYY')}}</p>
  <p class="font-sans mb-8">by: {{author}}</p>
  <p class="font-sans">{{post.fields.content | renderContentfulRichText | safe}}</p>

</article>