---
title: Mile 70
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="container mx-auto flex justify-between items-center">
      <h1 class="home font-bold text-green-600">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav>
        <ul class="nav flex justify-between items-center">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active font-bold{% endif %} pr-2">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>
    <div class="container mx-auto">
      {{content | safe}}
    </div>
  </body>
</html>